'.source.galen':
  'Add object definition':
    'prefix': 'objects'
    'body': '@objects\n'
  'Add group definition':
    'prefix': 'groups'
    'body': '@groups\n'
  'Add section definition':
    'prefix': 'section'
    'body': '= ${1:section} =\n'
  'Add import definition':
    'prefix': 'import'
    'body': '@import ${1:import}\n'
  'Add on definition':
    'prefix': 'on'
    'body': '@on ${1:on}\n'
  'Add variable definition':
    'prefix': 'set'
    'body': '@set\n'
