'.source.galen':
  'Add object definition':
    'prefix': 'objects'
    'body': '@objects\n'
  'Add group definition':
    'prefix': 'groups'
    'body': '@groups\n'
  'Add section definition':
    'prefix': 'section'
    'body': '= ${1:section} =\n'
