'scopeName': 'source.galen'
'name': 'Galen'
'fileTypes': ['gspec']
'patterns': [
  {
    'include': '#comment'
  }
  {
    'include': '#object-definition'
  }
]
'repository':
  'comment':
    'patterns': [
      'comment': 'Comments'
      'begin': '^\\s*#'
      'beginCaptures':
        '0':
          'name': 'punctuation.definition.comment.galen'
      'end': '\\n'
      'name': 'comment.line.number-sign.galen'
    ]
  'object-definition':
    'patterns': [
        'match': '^(@objects)$'
        'name': 'storage.type.galen'
    ]
