'scopeName': 'source.galen'
'name': 'Galen'
'fileTypes': ['gspec']
'patterns': [
  {
    'include': '#comment'
  }
  {
    'include': '#object-definition'
  }
  {
    'include': '#tagging-and-sections'
  }
]
'repository':
  'comment':
    'patterns': [
      'comment': 'Comments'
      'begin': '^\\s*#'
      'beginCaptures':
        '0':
          'name': 'punctuation.definition.comment.galen'
      'end': '\\n'
      'name': 'comment.line.number-sign.galen'
    ]
  'object-definition':
    'patterns': [
      {
        'comment': 'Object definition keyword'
        'match': '^(@(?:objects|groups))$'
        'name': 'storage.type.galen'
      }
      {
        'comment': 'Object definition locators'
        'match': '^\\s+([^\\s]+|\\(.+\\))\\s+(?:(?:(?:(@)(?:(\\()(.+)(\\))))|(?:(@grouped)(?:(\\()(.+)(\\)))))\\s+)?(css|id|xpath)?\\s+(.+)$'
        'captures':
          '1':
            'name': 'entity.name.type.object.galen'
          '2':
            'name': 'support.function.corrections.gspec'
          '3':
            'name': 'punctuation.definition.parameters.begin.bracket.galen'
          '4':
            'name': 'variable.parameter.corrections.galen'
          '5':
            'name': 'punctuation.definition.parameters.end.bracket.galen'
          '6':
            'name': 'support.function.groups.gspec'
          '7':
            'name': 'punctuation.definition.parameters.begin.bracket.galen'
          '8':
            'name': 'variable.parameter.groups.galen'
          '9':
            'name': 'punctuation.definition.parameters.end.bracket.galen'
          '10':
            'name': 'support.type.locators.galen'
          '11':
            'name': 'entity.other.attribute-name.selector.galen'
      }
    ]
  'tagging-and-sections':
    'patterns': [
      {
        'comment': 'Section declaration'
        'match': '^\\s*(= .+ =)$'
        'captures':
          '1':
            'name': 'entity.name.function.section.galen'
      }
      {
        'comment': 'Object groups'
        'match': '^\\s+(&?.+:)$'
        'captures':
          '1':
            'name': 'entity.name.type.object.galen'
      }
    ]
