'.source.galen':
  'editor':
    'commentStart': '# '
    'completions': [
      '@objects'
      '@groups'
      '@grouped'
      'css'
      'id'
      'xpath'
      'near'
      'above'
      'below'
      'left-of'
      'right-of'
      'inside'
      'height'
      'width'
    ]
