'.source.galen':
  'editor':
    'commentStart': '# '
    'completions': [
      '@objects'
      '@groups'
      '@grouped'
      'css'
      'id'
      'xpath'
      'near'
      'above'
      'below'
      'left-of'
      'right-of'
      'inside'
      'height'
      'width'
      'aligned horizontally all'
      'aligned horizontally top'
      'aligned horizontally bottom'
      'aligned horizontally centered'
      'aligned vertically all'
      'aligned vertically left'
      'aligned vertically right'
      'aligned vertically centered'
    ]
