'.source.galen':
  'editor':
    'commentStart': '# '
    'completions': [
      '@objects'
      '@groups'
      '@grouped'
      'css'
      'id'
      'xpath'
      'near'
      'above'
      'below'
      'left-of'
      'right-of'
      'inside'
      'inside partly'
      'height'
      'width'
      'aligned horizontally all'
      'aligned horizontally top'
      'aligned horizontally bottom'
      'aligned horizontally centered'
      'aligned vertically all'
      'aligned vertically left'
      'aligned vertically right'
      'aligned vertically centered'
      'text is'
      'text starts'
      'text ends'
      'text contains'
      'text matches'
      'text lowercase is'
      'text uppercase starts'
      'text lowercase ends'
      'text lowercase contains'
      'text lowercase matches'
    ]
